[buildout]

extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-5.2.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg
    base.cfg

update-versions-file = test_plone52.cfg

[versions]
plone.testing = 7.0.1

# Added by buildout at 2021-07-01 10:55:43.897378
collective.recipe.vscode = 0.1.7
createcoverage = 1.5

# Required by:
# plone.app.referenceablebehavior==0.7.8
Products.Archetypes = 1.16.4

# Required by:
# imio.news.core==1.0a1
plone.app.referenceablebehavior = 0.7.8
